@import "bootstrap-sprockets";
@import "bootstrap";
/* universal */
body {
padding-top: 60px;
}
section {
overflow: auto;
}
textarea {
resize: vertical;
}
.center {
text-align: center;
}
.center h1 {
margin-bottom: 10px;
}
/* Mikey's Tinkering */
.navbar-inverse {
background-color: #5a2971;
color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
color: #fff;
}
.navbar-fixed-top {
  right: auto;
  left: auto;
}

body {
  color: #000;
  text-align: center;
  background: image-url('background1.png') no-repeat center center fixed;
  background-size:cover;
}

h1 {
  text-align: center;
}
h3 {
text-align: center;
font-size: 80%;
}
hr {border-color: #000099; /*line color in Chrome and Safari */
color: #000099; /*line color in IE7+*/
background-color: #000099; /*line color in Firefox/Opera*/
display: block;
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: auto;
margin-right: auto;
/*border-style: inset;*/
border-width: 2px;
}
#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
  color: #5a2971;
  background-color: #FFF;
}

.leftCol {
float:left; width: 50%;
}
.rightCol {
padding: 1px 20px 20px;
margin-left: 52%;
overflow: auto;
}
img.thumb {
max-width: 200px;
width: auto;
max-height: 200px;
height: auto;
}
img.bigPic {
max-width: 400px;
width: auto;
max-height: 400px;
height: auto;
}
label {
float: left;
display: block;
text-align: right;
width: 100px;
padding-right: 10px;
}
footer {
text-align: center;
}
footer hr {
border-color: #5a2971; /*line color in Chrome and Safari */
color: #663366; /*line color in IE7+*/
background-color: #5a2971; /*line color in Firefox/Opera*/
/* display: block; */
margin-top: 0.2em;
margin-bottom: 0.2em;
margin-left: auto;
margin-right: auto;
border-width: 1px;
}

/*div {
border:2px solid red;
}*/